.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  background-image: linear-gradient(
      to bottom,
      rgba(54, 55, 61, 0.36),
      rgba(37, 41, 47, 0.305)
    ),
    url("../../assets/images/home-header.jpeg");

  opacity: 0.9;
  /* Set a specific height */
  height: 600%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  filter: drop-shadow(30px 10px 4px #86869f);
  /* margin-left: -100px;
        margin-right: -100px; */
}

#hero-text {
  text-align: center;

  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
  /* top: 80%;
        left: 80%;
        transform: translate(-50%, -50%); */
  color: rgb(252, 252, 252);
  font-size: x-large;
}

.background {
  background-color: #252d76;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .learn-more-button {
  background-color: rgb(208, 21, 21);
  border-color: rgba(211, 217, 221, 0.177);
  font-weight: 700;
  border-radius: 25px !important;
}

.learn-more-button:hover{
  background-color:  rgba(222, 20, 20, 0.638);
  border-color: rgba(211, 217, 221, 0.177);
  
} */
.learn-more-button {
  background-color: rgb(208, 21, 21);
  border-color: rgba(211, 217, 221, 0.177);
  font-weight: 700;
  border-radius: 25px !important;
  font-size: medium;
  padding: 6px;
  color: white;
  text-decoration: none;
  border: 2px solid rgb(208, 21, 21);
}

.learn-more-button:hover{
  background-color:  rgb(255, 255, 255);
  border:2px solid rgb(208, 21, 21);
  color: rgb(208, 21, 21);
  
  
}
.card-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}



.class-container{
    filter: drop-shadow(10px 10px 5px#252d767a);
}

.textLine{

  text-align: end;
  margin-bottom: 80px;
  margin-right: 40px;
}


.card-container{
  margin-bottom: 60px;
  filter: drop-shadow(10px 10px 5px#252d7647);
  padding-bottom: 20px;
}


.photo3{
  background-image: 
    url("../../assets/images/home3.jpeg");

  opacity: 0.9;
  /* Set a specific height */
  height: 600%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  filter: drop-shadow(30px 10px 4px #56292979);
  margin-top: -50px;
}

.three{
  height: 200px;
}

.middle-p{
  font-size: large;
  font-weight: 500;
  /* line-height: 6rem; */
}

.bold-text{
  font-weight: bold;
}

.results-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  margin-top: -10px;

 
}

.result-item{
  padding: 30px 10px;
  margin: 5px;
  width: 300px;
  margin-right: 50px;
  margin-left: 50px;

  

}

.proven-results{
  background-color:rgb(255, 255, 255);
  text-align: end;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 15px;
  margin-bottom: 50px;
  color: #252d76;
  /* font-weight: 700; */
  letter-spacing: 3px;
  font-size: x-large;
  margin-top: -50px;
  
  
}

.results-box{
  margin-top: -40px;
  padding-top: 30px;
  background-color: #252d7628;
  padding-bottom: 20px;
  margin-bottom: 60px;
  
}
.cherry{
  margin-top: -70px;
  padding-top: 30px;
  background-color: #252d7628;
  padding-bottom: 20px;
  margin-bottom: 60px;
  background-image:  url("../../assets/images/whitecherry.png");
   background-repeat: no-repeat;
}

#box1{
  border-radius: 5px;
  background-color: #252d76;
  color: white;
  font-size: medium;
}

#box2{
  border-radius: 5px;
  background-color: #252d76;
  color: white;
  font-size: medium;
  list-style: none;
}
#box2 li{
  margin-left: 15px;
}


#box2 li::before {
  content: "\2022";
  color: red; /* Change the color */
  font-weight: 900;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em;
  margin-left: -1em;
}
/* .bottomHome {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
} */
.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

  width: 50%;

  position: relative;
  background: #c02210;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986767;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: rgb(128, 48, 48) transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.bottomHome{
 flex:1;
 justify-content: center;
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 align-items: center;

}
.resize-gif{
  margin-bottom: 120px;
}
.partners1{
  background-image: url("../../assets/images/partnerI.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  
}
.partners2{
  background-image: url("../../assets/images/partnerII.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  
}
.partners3{
  background-image: url("../../assets/images/partnerIII.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  
}
.partner-size{
  max-width: 350px;
  min-width: 300px;
  height: 250px;
 
}
.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}
.gif{
  background-image:  url("../../assets/images/cherryGIF.gif");
  background-repeat: no-repeat;

}
.gif-container{
  max-width: 600px;
  height: 300px;
}
.gif-p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: x-large;
  letter-spacing: 2px;
  color:#4f97df;
  margin-top: 25px;
  margin-bottom: 10px;
  max-width: 500px;
  min-width: 200px;
  display:flex;
  flex-wrap:wrap;
}
@media (max-width: 600px) {
 .gif-p{
  max-width: 300px;
 }
 .gif{
  max-width: 300px;
 }
}

.iconDIV{
  display:flex;
  justify-content: center;
  margin-left:40px;
  margin-right:40px;
  margin-bottom: -20px;
  color: white;
}

.react-icons-home{
  color: white !important;
}