.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  background-image: linear-gradient(
      to bottom,
      rgba(54, 55, 61, 0.36),
      rgba(37, 41, 47, 0.305)
    ),
    url("../../assets/images/home-header.jpeg");

  opacity: 0.9;
  /* Set a specific height */
  height: 600%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  filter: drop-shadow(30px 10px 4px #86869f);
  /* margin-left: -100px;
        margin-right: -100px; */
}

#hero-text {
  text-align: center;

  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
  /* top: 80%;
        left: 80%;
        transform: translate(-50%, -50%); */
  color: rgb(252, 252, 252);
  font-size: x-large;
}

.background {
  background-color: #252d76;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.learn-more-button {
  background-color: rgb(208, 21, 21);
  border-color: rgba(211, 217, 221, 0.177);
  font-weight: 700;
  border-radius: 25px !important;
}

.learn-more-button:hover{
  background-color:  rgba(222, 20, 20, 0.638);
  border-color: rgba(211, 217, 221, 0.177);
  
}

.card-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}



.class-container{
    filter: drop-shadow(10px 10px 5px#252d767a);
}

.textLine{

  text-align: end;
  margin-bottom: 80px;
  margin-right: 40px;
}

.Solutions{
  text-align: center;
  border-bottom: 3px;
  margin-left: 40%;
  margin-right: 40%;
}

.card-container{
  margin-bottom: 60px;
  filter: drop-shadow(10px 10px 5px#252d767a);
  padding-bottom: 20px;
}


.photo3{
  background-image: 
    url("../../assets/images/home3.jpeg");

  opacity: 0.9;
  /* Set a specific height */
  height: 600%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  filter: drop-shadow(30px 10px 4px #56292979);
  margin-top: -50px;
}

.three{
  height: 200px;
}

.middle-p{
  font-size: large;
  font-weight: 700;
  /* line-height: 6rem; */
}

.bold-text{
  font-weight: bold;
}

.results-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  margin-top: -10px;

 
}

.result-item{
  padding: 30px 10px;
  margin: 5px;
  width: 300px;
  margin-right: 50px;
  margin-left: 50px;

  

}

.proven-results{
  background-color:rgb(255, 255, 255);
  text-align: end;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 15px;
  margin-bottom: 50px;
  color: #252d76;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: x-large;
  margin-top: -50px;
  
  
}

.results-box{
  margin-top: -40px;
  padding-top: 30px;
  background-color: #252d7628;
  padding-bottom: 20px;
  margin-bottom: 60px;
  
}
.cherry{
  margin-top: -70px;
  padding-top: 30px;
  background-color: #252d7628;
  padding-bottom: 20px;
  margin-bottom: 60px;
  background-image:  url("../../assets/images/whitecherry.png");
   background-repeat: no-repeat;
}

#box1{
  border-radius: 5px;
  background-color: #252d76;
  color: white;
  font-size: medium;
}

#box2{
  background-color: white;
  border-radius: 5px;
  border: 2px solid #252d76;
  font-size: medium;
}
.bottomHome {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  background-image: linear-gradient(
      to bottom,
      rgba(54, 55, 61, 0.36),
      rgba(37, 41, 47, 0.305)
    ),
    url("../../assets/images/bottomHome.jpeg");

  opacity: 0.9;
  /* Set a specific height */
  height: 600%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  filter: drop-shadow(30px 10px 4px #86869f);
  /* margin-left: -100px;
        margin-right: -100px; */
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}