
#get-footer{
    background-color: #dbdfe755 !important;
    text-align: center;
    margin-top: 30px;
  }



.react-icons{
    color: red;
    size:70px;
}

.react-icons:hover{
    color: rgba(185, 15, 15, 0.723);
}
.photofooter {
    background-image: url("../../assets/images/footer-img.jpeg");
  
    opacity: 0.9;
    /* Set a specific height */
    height: 600%;
    
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    margin-top: -25px;
  }
  
  .footer-height{
    height: 200px;
  }
  .flex-footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

    display: wrap;
    margin-bottom: 30px;

  }


  .footer-divs{
    max-width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: start;
    font-weight: 700;
    /* display: flex;
    justify-content: start;
    display: wrap; */
    color: rgba(37, 45, 118, 0.599);

  }
 
  .footer-divs p{
    font-weight: 800;
    color:   #252d76;
    border-left: 2px solid red;
    padding-left: 10px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    
  }
  .slide-rightF:hover {
    box-shadow: inset 500px 30px 0 0 #c02210;
    color: #ffffff;
  }
  
  .button-slideF {
    height: 40px;
    color: #c02210;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px;
    
  
    box-shadow: inset 0 0 0 0 #c02210;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
   
  
  }
  .strongANDred {
    color: red;
  }
  
  .footer-links{
    color:rgba(37, 45, 118, 0.599)!important;
    text-decoration: none;
  }
  .footer-links:hover{
    color: #374b60!important;
    text-decoration: none;
  }