.hero-software{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}
.softwareimg1 {
    height: 20%;
    opacity: 0.9;
    filter: drop-shadow(10px 10px 5px#252d767a);
    max-width: 100%;
    /* margin-top: -10px; */
  }

  .imageOverlaySoftware {
    letter-spacing: 2px;
    /* position: relative; */
    z-index: 100;
    /* margin-left: 50%; */
    background-color: #252d76;
    color: white;
    font-size: x-large;
    font-weight: 600;
    padding-right: 25%;
    max-height: 50vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 50px;
  
  }

  .softwarebox1 {
    background-color: #252d76;
    color: white;
    font-size: large;
  
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    
    letter-spacing: 2px;
  }

  .left-text {
    text-align: center;
  }

  .software-ul {
    padding: 5px;
    text-align: start;
    list-style: none;
    font-weight:700;
  }
  .software-ul li {
    margin-left: 20px;
  }
  .software-ul li::before {
    content: "\2022";
    color: rgb(255, 255, 255); /* Change the color */
    font-weight: 900;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em;
    margin-left: -1em;
  }
  .marginLR5160px100px{
    margin-left: 110px;
    margin-right: 80px
  }
  .padding-top-50px{
    padding-top: 50px;
  }
  .LH2{
    line-height: 1cm;
  }
  .LHpoint5{
    line-height: .8cm;
  }
  .bgWHITE{
    background-color: white;
  }
  .borders-20-5{
    border-left: 20px;
    border-right: 20px;
    border-top: 60px;
    border-bottom: 5px;
  }
  .width500{
    width: 500px;
  }

  .border-bottom-red{
    border-bottom: red solid 2px;
  }
  .border-bottom-white{
    border-bottom: white solid 2px;
  }
  .border-bottom-LB{
    border-bottom: #7aa6d1e4 solid 2px;
  }
  .marginLR30{
    padding-left: 120px;
    padding-right: 120px;
  }
  .redbox{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: red solid 2px;
  }
  .margin-top-50px{
    margin-top: 50px;
  }