body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
}
.flip-card-outer {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;

  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: 0.5s linear 0.1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

    &.showBack {
      transform: rotateY(180deg);
    }

    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;


      &.front {
        transform: rotateY(0);
        background-color: #2d2d2d;
        color: #fff;
      }

      &.back {
        transform: rotateY(180deg);
        background-color: #fff;
        color: #2d2d2d;
        font-size: x-small;
      }
    }
  }
}

// @media (max-width: 400px) {
//   .flip-card-outer {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//   }
// }

.flip-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  filter: drop-shadow(8px 8px 4px #86869f3d);
}

.card-text {
  text-align: center;
}
